@import 'toast';

$main-color: #0F0D0D;
$roboto: 'Roboto', sans-serif;
$background: #f3f3f3;

* {
	margin: 0;
}

a { text-decoration: none; color:#000; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

html, body {
	height: 100%;
}

ul, ol {
	list-style: none;
	padding: 0;
}


.nav-list {
	height: auto;
	width: 100%;
	text-align: center;

}

li {
	display: inline;
	font-family: $roboto;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  vertical-align: center;
}

.fa-facebook {
	font-weight: bold;
}

.social {
	padding-left: 10px;
	padding-top: 25px;

}

.sep {
	padding: 0 16px;
}

@media (max-width: 611px) {
	.sep {
		padding: 0 5px;
	}
}

#nav_bar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.small_logo_wrap {
	margin: 10px;
	border: 3px black solid;
}

.small_logo_wrap img {
	width: 300px;
	height: auto;
	padding: 7px;

}

.container {
	margin: 50px auto;
	max-width: 1000px;

}

@media (max-width: 500px) {
	.container {
		max-width: 500px;
		margin: 50px 75px;
	}
}



.pic_contain {
	width: 300px;
	height: 300px;
	background: url(/../img/kenzi.jpg);
	background-size: cover;
    margin: 0 auto;
}

@media (max-width: 500px) {

	.about, .phone, .email, .close-popup {
		font-size: 1.5em;
		font-family: $roboto;
	}
	.phone {
		margin-right: 33px;
	}
}

.about-contain{
    width: 300px;
    background: lightgrey;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    
    
}

.about {
    font-family: $roboto;
}

.contact {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 15px;
    
}

.contact-contain {
	text-align: center;
    font-family: $roboto;
    
}

.phone {
	padding-right: 76px;
	padding-top: 10px;
    
}

.email-add {
	text-decoration: underline;
    
}


footer {
	font-family: $roboto;
	font-size: .8em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.me {
	text-decoration: underline;
	padding-bottom: 10px;
}


.full-menu {
    visibility: hidden;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.92);
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.full-menu--open {
    visibility: visible;
    opacity: 2;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.full-menu--middle {
    display: table-cell;
    vertical-align: middle;
}

button {
    border: none;
    font-size: 2.2em;
    background: transparent;
    cursor: pointer;
    
}

.content-contain {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

